* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: monospace;
}
canvas {
    display: block;
    width: 100vw;
    height: 100vh;
}
#menu {
    display: flex;
    flex-flow: column wrap;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: auto;
    text-align: center;
    z-index: 2;
    cursor: pointer;
}
#menu > a {
    text-decoration: none;
}
#overlay {
    text-align: center;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100vw;
    z-index: 3;
    color: white;
}

@media screen and (orientation: portrait) {
    #menu {
        display: block;
        width: 100%;
    }
    #menu a{
        display: inline;
    }
}
