* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top-bar {
    position: fixed;
    display: block;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.16);
    z-index:
    cursor: pointer;
}
#menu {
    margin: auto;
    width: 80%;
    text-align: center;
    padding: 2vh;
}
a {
    color: #AAA;
    font-size: 5vh;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#blog {
    color: #FFF;
    font-size: 5vh;
}
#svg_container {
    display: block;
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@media screen and (orientation: portrait) {
    #top-bar {
        height: 22vh;
    }
    #menu {
        padding-left: 12vw;
        padding-right: 12vw;;
    }
    #svg_container {
        width: 100%;
    }
}


#U {
    animation: loading_opacity 6s linear 0.1s infinite;
}
#H {
    animation: loading_opacity 6s linear 1s infinite;
}
#M {
    animation: loading_opacity 6s linear 1.5s infinite;
}
#Two {
    animation: loading_opacity 4s linear 1s infinite;
}#Three {
    animation: loading_opacity 4s linear 3s infinite;
}
#Left-Curve {
    animation: loading_opacity 8s linear 3s infinite;
}
#Lower-Curve {
    animation: loading_opacity 8s linear 7s infinite;
}
#Ball {
    animation: loading_opacity 4s linear 3s infinite;
}
#Coming-Soon {
    opacity: 0.2;
}

  
  @keyframes loading_opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;

    }
    100% {
      opacity: 1;
    }
  }
  
  