* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#top-bar {
    position: fixed;
    display: block;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    background-color: rgba(255,92,0,0.0);
    z-index: 2;
    cursor: pointer;
}
#menu {
    margin: auto;
    width: 99%;
    text-align: center;
}
#menu > a {
    color: #AAA;
    font-size: 3vh;
    text-decoration: none;
    font-family: sans-serif;
}

#svg_container {
    display: block;
    position: absolute;
    width: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


#uhm23_icon {
    animation: loading_scale 1s linear 0.1s 2;
}
#js_icon {
    animation: loading_scale 1s linear 0.3s 2;
}
#jglcode_icon{
    animation: loading_scale 1s linear 0.6s 2;
}
#uhm23_icon:hover {
    animation: loading_scale 1.5s linear 0.1s infinite;
}
#js_icon:hover {
    animation: loading_scale 1.5s linear 0.3s infinite;
}
#jglcode_icon:hover {
    animation: loading_scale 1.5s linear 0.6s infinite;
}

/*
#U:hover {
    stroke-width: 1px;
    stroke: black;
}
#H:hover {
    stroke-width: 1px;
    stroke: black;
}
#M:hover {
    stroke-width: 1px;
    stroke: black;
}
#Two:hover {
    stroke-width: 1px;
    stroke: black;
}
#Three:hover {
    stroke-width: 1px;
    stroke: black;
}
*/


#U {
    animation: loading_opacity 6s linear 0.1s infinite;
}
#H {
    animation: loading_opacity 6s linear 1s infinite;
}
#M {
    animation: loading_opacity 6s linear 1.5s infinite;
}
#Two {
    animation: loading_opacity 4s linear 1s infinite;
}#Three {
    animation: loading_opacity 4s linear 3s infinite;
}
#Left-Curve {
    animation: loading_opacity 8s linear 3s infinite;
}
#Lower-Curve {
    animation: loading_opacity 8s linear 7s infinite;
}
#Ball {
    animation: loading_opacity 4s linear 3s infinite;
}
#Coming-Soon {
    opacity: 0.2;
}

  
@keyframes loading_opacity {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2;

    }
    100% {
        opacity: 1;
    }
}

@keyframes loading_scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1)
    }
}

  
@media screen and (orientation: portrait) {
    #top-bar {
        left: 0;
    }
    #top-bar #menu > p {
        display: none;
    }
    #svg_container {
        width: 100%;
    }
}