* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: monospace;
}
#c {
    display: block;
    width: 100vw;
    height: 100vh;
}
#menu {
    font-size: 4vh;
    display: flex;
    flex-flow: column wrap;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: 100vh;
    text-align: right;
    z-index: 2;
    cursor: pointer;
}
#menu > a {
    text-decoration: none;
}
#overlay {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    position: absolute;
    width: 100vw;
    height: auto;
    color: black;
}
.card_container {
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-content: center;
}
.card {
    display: grid;
    border: 1px solid lightgrey;
    height: fit-content;
    width: fit-content;
    margin: 20px;
    text-align: center;
    box-shadow: 10px 10px 15px lightblue;
}
.card img{
    height: 240px;
}



.icon{
    align-self: flex-end;
    display: flex;
    flex-flow: row;
}

.icon img{
    height: 10vh;
}

.vis_toggle{
    align-self: center;
    transform-origin: 105% 0%;
    transform: scaleX(0);
    transition: transform 1s;
}

.uhm23_icon:hover .vis_toggle{
    transform: scaleX(1);
}
.js_icon:hover .vis_toggle{
    transform: scaleX(1);
}
.jglcode_icon:hover .vis_toggle{
    transform: scaleX(1);
}


#uhm23_icon {
    animation: loading_scale 2s linear 0.6s 2;
}
#js_icon {
    animation: loading_scale 2.5s linear 0.6s 2;
}
#jglcode_icon{
    animation: loading_scale 3s linear 0.8s 2;
}

/*
#uhm23_icon:hover {
    animation: loading_scale 1.5s linear 0.9s infinite;
}
#js_icon:hover {
    animation: loading_scale 1.5s linear 0.9s infinite;
}
#jglcode_icon:hover {
    animation: loading_scale 1.5s linear 0.9s infinite;
}
*/

@keyframes loading_scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (orientation: portrait) {
    .card_container{
        padding-top: 10vh;
    }
    #menu {
        font-size: 4vw;
        justify-content: center;
        align-content: flex-start;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
    }
    .vis_toggle{
        transform: scaleY(0);
    }
    .uhm23_icon:hover .vis_toggle{
        transform: scaleY(1);
    }
    .js_icon:hover .vis_toggle{
        transform: scaleY(1);
    }
    .jglcode_icon:hover .vis_toggle{
        transform: scaleY(1);
    }

    #menu a{
        flex-flow: column-reverse wrap;
        display: flex;
    }
}