* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
}
#top-bar {
    position: fixed;
    display: block;
    width: auto;
    height: auto;
    top: 0;
    right: 0;
    background-color: rgba(255,92,0,0.0);
    z-index: 2;
    cursor: pointer;
}
#menu {
    margin: auto;
    width: 99%;
    text-align: center;
}
#menu > a {
    color: #AAA;
    font-size: 3vh;
    text-decoration: none;
    font-family: sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#canvas1 {
    /* border: 5px solid white; */
}

.controls {
    display: none; /* ctrl-shift-i & change this to flex for visibility */
}
.controls > input {
    width: 75%;
}
.controls > label {
    width: 25%;
    color: white;
    font-size: 15px;
}



#uhm23_icon {
    animation: loading_scale 1s linear 0.1s 2;
}
#js_icon {
    animation: loading_scale 1s linear 0.3s 2;
}
#jglcode_icon{
    animation: loading_scale 1s linear 0.6s 2;
}
#uhm23_icon:hover {
    animation: loading_scale 1.5s linear 0.1s infinite;
}
#js_icon:hover {
    animation: loading_scale 1.5s linear 0.3s infinite;
}
#jglcode_icon:hover {
    animation: loading_scale 1.5s linear 0.6s infinite;
}

@keyframes loading_scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1)
    }
}

@media screen and (orientation: portrait) {
    #top-bar {
        left: 0;
    }
    #top-bar p {
        display: none;
    }
}